$min-width: 320 + px;
$max-width: 1170 + px;
$width-mobile: 320 + px;
$width-mobile-h: 667 + px;
$width-tablet: 767 + px;
$width-tablet-h: 930 + px;
$width-desktop: 1110 + px;
$transition: 0.3s ease-out 0s;
$primary-color: #48b774;
$text-color: #7c7c7c;
